h1 {
    color: red;
    text-align: center;
    text-decoration: underline;
    font-family: "Comic Sans MS";

}

#anotherh1 {
    color: green;
    font-family: "Times";
}

#anotherh1:hover {
    opacity: 0;
    transform: translateY(2px);
}
